/*
Name: 
Date: 
*/

:root{
    --main-bg-colour: #7EA6E0;
    --sec-bg-colour: #A680B8;
    --main-colour: #7EA6E0;
    --sec-colour: #A680B8;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
    background-color: #000;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    text-align: center;
    background-color:white ;
    color: white;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    
    color: var(--main-colour);
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color:white;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color:#000000;
    color:white;
    width: 80%;
    margin: auto;
    text-align: justify;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    text-align: center;
    color:white;
    

    
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    background-color:#000000;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    text-align: center;
    background-color: #000000;
    color: white;
}

body {
  background-color: #000;
}