/*
Name: 
Date: 
*/

:root{
    --main-bg-colour: #7EA6E0;
    --sec-bg-colour: #A680B8;
    --main-colour: #7EA6E0;
    --sec-colour: #A680B8;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "reference reference reference"
    "footer footer footer";
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    text-align: center;
    background-color: #000 ;
    color: white;
    font-family: 'Great Vibes', cursive;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    
    color: var(--main-colour);
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color:#000;
    font-family: 'Great Vibes', cursive;
   
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}


.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color:#000000;
    color:white;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    font-size: 25px
}

.section1 h2 {
    font-family: 'Great Vibes', cursive;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    text-align: center;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size: 25px

}

.section2 h2 {
    font-family: 'Great Vibes', cursive;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    background-color:#000000;
    text-align: center;
    
  
}

.reference{ /*DO NOT REMOVE*/
    grid-area: reference;
    background-color:#000000;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 25px
}

.reference h2 {
    font-family: 'Great Vibes', cursive;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    text-align: center;
    background-color: #000000;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 20px
}

body {
  background-color: #000;
}